[Desktop Entry]
Name=IP Applet
Comment=Shows IP addresses in COSMIC panel
Exec=cosmic-ip-applet
Icon=network-wired-symbolic
Terminal=false
Type=Application
Categories=Cosmic;Applet;
X-CosmicApplet=true
